In [26]:
import pandas as pd 

citybike = pd.read_csv('data/citibike-tripdata.csv', sep=',')

Сколько пропусков в столбце start station id?

In [27]:
citybike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [28]:
citybike['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [29]:
citybike['start station name'] = citybike['start station name'].astype('category')

display(citybike['start station name'].cat.categories)
# display(citybike['start station name'].cat.codes)

Index(['1 Ave & E 110 St', '1 Ave & E 16 St', '1 Ave & E 18 St',
       '1 Ave & E 30 St', '1 Ave & E 44 St', '1 Ave & E 62 St',
       '1 Ave & E 68 St', '1 Ave & E 78 St', '1 Ave & E 94 St',
       '1 Pl & Clinton St',
       ...
       'West Thames St', 'William St & Pine St', 'Willoughby Ave & Hall St',
       'Willoughby Ave & Tompkins Ave', 'Willoughby Ave & Walworth St',
       'Willoughby St & Fleet St', 'Wolcott St & Dwight St',
       'Wyckoff St & 3 Ave', 'Wythe Ave & Metropolitan Ave',
       'Yankee Ferry Terminal'],
      dtype='object', length=759)

Велосипед с каким идентификатором является самым популярным?

In [35]:
citybike['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [41]:
a = (citybike['usertype'] == 'Customer').sum()
b = (citybike['usertype'] == 'Subscriber').sum()
print(a)
print(b)
c =

67798
232202
22.599333333333334 77.40066666666667

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [43]:
citybike['gender'].mode()
a = (citybike['gender'] == 1).sum()
print(a)

183582

In [58]:
f = (citybike['start station name'] == 'Eastern Pkwy & Washington Ave').sum()

print(f)

6

In [54]:
display(citybike)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Eastern Pkwy & Washington Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Eastern Pkwy & Washington Ave,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Eastern Pkwy & Washington Ave,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Eastern Pkwy & Washington Ave,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,Eastern Pkwy & Washington Ave,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,Eastern Pkwy & Washington Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Eastern Pkwy & Washington Ave,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,Eastern Pkwy & Washington Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Eastern Pkwy & Washington Ave,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Eastern Pkwy & Washington Ave,40.795412,-73.944123,18292,Subscriber,1966,1

In [57]:
citybike['birth year'].max()

2002